:root {
  --base-color: #F2F2ED;
  --brand-color: #595F43;
  --accent-color: #CD947F;
  --dark: #010409;
}

.App {
  text-align: center;
  background-color: var(--base-color);
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}
